.header {
  background-color: blue;
  padding: 1rem;
  color: white;
  text-align:justify
}

.header h1 {
  margin: 0;
}

.header a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.header link{
    align-content:flex-end
}
